@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');

body {
    background-color: whitesmoke;
}

h1 {
    font-family: 'Times New Roman', Times, serif, serif;
}

img {
    height: 350px;
}

header {
    background-color:black;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    list-style: none;
}

nav > ul {
    display: flex;
    list-style: none;
    font-size: 25px;
    gap: 20px;
}

a {
    text-decoration: none;
    color:grey;
}
